  /* Mixins
  * ----------------------------------------------------------------- */
  
  @import "tf_mixins.less";
 
 /* Variables
  * ----------------------------------------------------------------- */
  
/* TF Blue */
 @tf-primary: #268EB1;
 @tf-primary-highlight: @tf-primary + #555;

/* TF Gray */ 
 @tf-neutral: #ddd;
 @tf-neutral-highlight: @tf-neutral + #555;
 
/* TF Yellow */
 @tf-notice: #f9da7d;
 @tf-success: #7df994;

/* TF Special Colors */
@facebook: #3b5998;
@gowalla: #ff9400;
@foursquare: #2398c9;
@mailchimp: #e95c41;
@opentable: #9a0000;

/* Fundamentals */
@white: #ffffff;
@black: #000000;


  /* Basics
  * ----------------------------------------------------------------- */ 

.right {float:right;}
.left {float:left;}

.tf-primary-gradient {
	color: @white !important;
	#gradient > .vertical(@tf-primary-highlight, @tf-primary);
	text-shadow: 0 -1px 0 rgba(0,0,0,.30);    
}

  /* Elements - Buttons
  * ----------------------------------------------------------------- */
 
.tf-button,
input.tf-button,
input[type="button"].tf-button,
input[type="submit"].tf-button {
        border:0px !important;
	font-size: 14px;
	font-weight: 700;
	display:inline-block !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	text-align:center;
	padding:15px 20px;
	.border-radius(10px);
	.box-shadow (0 1px 3px rgba(0,0,0,.40));
	cursor: hand;
        text-decoration:none !important;
 }

.tf-button:hover,
input.tf-button:hover  {
        border:none;
}
 
.tf-major,
input.tf-major,
input[type="button"].tf-major,
input[type="submit"].tf-major {
        line-height:14px;
        display:inline-block !important;
	color: @white !important;
	#gradient > .vertical(@tf-primary-highlight, @tf-primary);
	text-shadow: 0 -1px 0 rgba(0,0,0,.30);
 }
 
.tf-major:hover
input[type="button"].tf-major,
input.tf-major:hover {
	#gradient > .vertical((@tf-primary-highlight + #111), (@tf-primary + #111));
 }
 
 .tf-minor {
        line-height:14px;
	color: @tf-primary;
	#gradient > .vertical(@tf-neutral-highlight, @tf-neutral);
	text-shadow: 0 1px 0 rgba(255,255,255,.40);
	border:1px solid @tf-neutral;
 }
 
  .tf-minor:hover {
	#gradient > .vertical((@tf-neutral-highlight + #111), (@tf-neutral + #111));
 }
 
 .tf-inline,
input.tf-inline,
input[type="button"].tf-inline,
input[type="submit"].tf-inline {
        line-height:14px;
	padding:15px;
	color: desaturate(@tf-primary, 100%);
	#gradient > .vertical(@tf-neutral-highlight, @tf-neutral);
	text-shadow: 0 1px 0 rgba(255,255,255,.40);	
	border:1px solid @tf-neutral;
 }
 
 .tf-inline:hover {
	#gradient > .vertical((@tf-neutral-highlight + #111), (@tf-neutral + #111));
 }
 
  .tf-tiny {
	padding:7px 10px;
	font-size: 12px;
        line-height:12px;
	color: desaturate(@tf-primary, 100%);
	#gradient > .vertical(@tf-neutral-highlight, @tf-neutral);
	text-shadow: 0 1px 0 rgba(255,255,255,.40);	
	border:1px solid @tf-neutral;
        span {position:relative;top:1px;}
 }
 
  .tf-tiny:hover {
	#gradient > .vertical((@tf-neutral-highlight + #111), (@tf-neutral + #111));
 }
 
 
 /* Notices
 * ----------------------------------------------------------------- */
 
 .tf-notice {
	 font-size:13px;
	 font-weight:bold;
	 padding:10px;
	 line-height:20px;
	.border-radius(5px);
	.box-shadow;
	border:1px solid @tf-notice;
	#gradient > .vertical((@tf-notice + #555), (@tf-notice));
	color: (@tf-notice - #777);
	text-shadow: 0 1px 0 rgba(255,255,255,.30);
 }

 .tf-success {
	 font-size:13px;
	 font-weight:bold;
	 padding:10px;
	 line-height:20px;
	.border-radius(5px);
	.box-shadow;
	border:1px solid @tf-success;
	#gradient > .vertical((@tf-success + #555), (@tf-success));
	color: (@tf-success - #777);
	text-shadow: 0 1px 0 rgba(255,255,255,.30);
 }
 
 /* Forms - Input (Text)
 * ----------------------------------------------------------------- */
 
 input[type="text"].tf-input-text, textarea.tf-input-text {
    width:100%;
    border: 1px solid #dfdfdf;
    color: #555;
    padding: 10px;
    background: #fff;
    .border-radius(5px);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(1, rgb(235,235,235)),
        color-stop(0.7, rgb(255,255,255))
    );

    background-image: -moz-linear-gradient(
        center bottom,
        rgb(235,235,235) 100%,
        rgb(255,255,255) 70%
    );
    -webkit-box-shadow: 1px 1px 1px #fff;
 }
 
textarea {
     min-height:100px;
	 overflow:auto;
 }

  /* Widgets - Coloring for API Widgets
  * ----------------------------------------------------------------- */

#widget-list,
.widgets-holder-wrap {

    .tf-facebook-widget, .tf-gowalla-widget, .tf-fs-widget, .tf-mailchimp-widget, .tf-opentable-widget {border:none !important;}

    /* fb */
  
    .tf-facebook-widget .widget-top {
        #gradient > .vertical((@facebook + #555), (@facebook));
        color:@white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        border: 1px solid @facebook;
        .box-shadow(0 -1px 0 rgba(255,255,255,0.5))
    }

    .tf-facebook-widget span.in-widget-title {
        color:(@facebook + #777);
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        }

    /* gw */

    .tf-gowalla-widget .widget-top {
        #gradient > .vertical((@gowalla + #555), (@gowalla));
        color:@white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        border: 1px solid @gowalla;
        .box-shadow(0 -1px 0 rgba(255,255,255,0.5))
    }

    .tf-gowalla-widget span.in-widget-title {
        color:(@gowalla + #777);
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        }

    /* fs */    

    .tf-fs-widget .widget-top {
        #gradient > .vertical((@foursquare + #555), (@foursquare));
        color:@white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        border: 1px solid @foursquare;
        .box-shadow(0 -1px 0 rgba(255,255,255,0.5))
    }

    .tf-fs-widget span.in-widget-title {
        color:(@foursquare + #777);
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        }

    /* mc */

    .tf-mailchimp-widget .widget-top {
        #gradient > .vertical((@mailchimp + #555), (@mailchimp));
        color:@white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        border: 1px solid @mailchimp;
        .box-shadow(0 -1px 0 rgba(255,255,255,0.5))
    }

    .tf-mailchimp-widget span.in-widget-title {
        color:(@mailchimp + #777);
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        }

    /* ot */

    .tf-opentable-widget .widget-top {
        #gradient > .vertical((@opentable + #555), (@opentable));
        color:@white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        border: 1px solid @opentable;
        .box-shadow(0 -1px 0 rgba(255,255,255,0.5))
    }

    .tf-opentable-widget span.in-widget-title {
        color:(@opentable + #777);
        text-shadow: 0 -1px 0 rgba(0,0,0,.30);
        }

}